.TableOfContents {
  position: relative;
}

.TableOfContents__dropdown {
  position: absolute;
  top: 0;
}

.TableOfContents--is-active .TableOfContents__dropdown {
}

.TableOfContents > h2 {
  opacity: 1;
  margin: 0;
  transition-duration: 0.6s;
  padding-left: 10px;
  white-space: nowrap;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.6,0,0.2,1);
  color: #3887be;
  font-family: 'aktiv-grotesk-std', helvetica, sans-serif;
  font-size: 19px;
  line-height: 35px;
  min-width: 175px;
  cursor: pointer;
}

.TableOfContents__arrow {
  padding-right: 5px;
}


ul.TableOfContents__dropdown {
  margin: 0;
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
    background-color: transparent;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out, background-color 0.3s ease-out 0.4s, margin-top 0.3s ease-out 0.4s;
    margin-left: 12px;
    padding: 7px 0;
    color: white;
    min-width: 250px;
     border-radius: 10px; 
    font-size: 1.1em;
    line-height: 1.9em;

}

.TableOfContents--has-background .TableOfContents__dropdown {
  margin-top: 40px;
  background-color: rgba(59, 129, 180, 0.8);
}

li.TableOfContents__item.TableOfContents__item--is-active {
  opacity: 0.2;
  pointer-events: none;
}

li.TableOfContents__item {
  cursor: pointer;
  padding: 0 15px;
}

li.TableOfContents__item:hover {
  background-color: rgba(255,255,255,0.1);
}
