
.CloseButton {
  width: 62px;
  height: 62px;
  overflow: hidden;
  z-index: 79;
  cursor: pointer;
  user-select: none;
  outline: none;
  transform: translate3d(0,0,0);
}

.CloseButton > i {
  display: block;
  margin: 20px;
  width: 22px;
  height: 22px;
  transform: translate(0,0,0);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.17,0.89,0.44,1.52);
}

.CloseButton:hover > i {
  transform: translate3d(0px,0px,0px) rotate(90deg);
}

.CloseButton > i > p {
  display: block;
    width: 2px;
    height: 28px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.CloseButton > i >p:nth-child(1) {
  transform: translate3d(10px,-3px,0px) rotate(45deg);
}

.CloseButton > i >p:nth-child(2) {
  transform: translate3d(10px,-31px,0px) rotate(-45deg);
}
