.ImageSwap {
  height: 100vh;
  position: relative;
  width: 100%;
}

.ImageSwap__before-image,
.ImageSwap__after-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.ImageSwap__before-image {
  opacity: 1;
  z-index: 0;
}

.ImageSwap__after-image {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.ImageSwap--showing-after .ImageSwap__after-image {
  opacity: 1;
  z-index: 1;
}

.ImageSwap__caption {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 10px;
  max-width: 350px;
  color: white;
  z-index: 10;
  background-color: rgba(0,0,0,0.6);
}

.ImageSwap__toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;
}
