.Map {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Map__container {
  flex: 1;
  height: 100%;
  z-index: -2;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}


.Map__text-content {
  overflow-y: auto;
  width: 100%;
  position: relative;
}

.Map__fly {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.Map__section-container {
  display: flex;
  justify-content: flex-end;
}


.Map .mapboxgl-ctrl-attrib {
  display: none;
}

.Map--active-child {
  background-color: rgba(255,255,255,0.2);
}

.Map__detail {
  width: 450px;
  position: relative;
  background-color: #41afa5;
  transform: translate3d(0,0,0);
  color: white;
  position: absolute;
  top: 50px;
  right: 7%;
}

.Map__spacer {
  height: 50px;
}

.Map__detail > div > h2:after {
  content: '–';
  display: block;
}

.Container__main.open .Map__section {
  opacity: 0;
}

.Map__section {
  padding: 40px;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  background-color: #3bb2d0;
  align-self: flex-end;
  color: white;
  margin-right: 100px;
  margin-top: 40px;
  width: 400px;
}

.Map__header {
  max-height: 300px;
  width: 100%;
  height: auto;
  display: block;
}

.Map figure {
  margin: 30px 0;
}

.Map__image-center {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.Map__image-caption {
  font-size: 0.8em;
  margin-top: 15px;
  line-height: 1.2em;
  font-style: italic;
}

.Map__poi-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.Map__poi-list h4 {
  font-family: 'aktiv-grotesk-std';
  font-weight: 400;
  margin: 0;
}

.Map__poi-list img {
  max-width: 100%;
}

.Map__poi-list li:first-child {
  /*border-top: 1px solid;*/
}

.Map__poi-list li {
  display: flex;
  position: relative;
  width: 50%;
  /*border-bottom: 1px solid;*/
  border: 4px solid white;
  cursor: pointer;
}

.Map__poi-meta {
  flex: 1;
  display: flex;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
}


.Map__main-heading {
  height: 100vh;
  flex: 1;
  width: 100%;
  background-size: cover;
  background-image: url(https://static.pexels.com/photos/378/black-and-white-city-building-house.jpg);
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.Map__main-heading-image {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(https://static.pexels.com/photos/378/black-and-white-city-building-house.jpg)
}

.Map__main-heading > .Map__section.Map__section--dark {
  width: 400px;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin: 0;
  margin-right: 100px;
}

.Map__section--white {
  background-color: rgba(255,255,255,0.9);
  color: #666;
}

.Map h2:after {
  content: '\2013';
  display: block;
}
