.MapSection {
  display: flex;
  opacity: 1;
  justify-content: flex-end;
  transition-duration: 0.6s;
  transform: translate3d(0,0,0);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.6,0,0.2,1);
}

.MapSection__content {
  padding: 40px;
  background-color: #3bb2d0;
  align-self: flex-end;
  color: white;
  margin-right: 40px;
  margin-top: 40px;
  width: 450px;
}

.Container__main.open .MapSection {
  opacity: 0;
}


.MapSection--light .MapSection__content {
  background-color: rgba(255,255,255,0.9);
  color: #666;
}
