.Container {
  height: 100%;
}

.Container__main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition-duration: 0.6s;
  background-color: #f5f5f5;
  transform: translate3d(0px,0px, 0px);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.6,0,0.2,1);
}

.Container__main.open {
  pointer-events: none;
  transform: translate3d(-450px, 0px, 0px);
}

.Container__detail {
  position: fixed;
  height: 100%;
  width: 450px;
  transform: translate3d(450px,0px,0px);
  z-index: 51;
  background-color: white;
  right: 0;
  transition-duration: 0.6s;
  top: 0;
  overflow: hidden;
  /*background: #f5f5f5;*/
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.6,0,0.2,1);
}

.Container__detail-content {
  overflow-y: auto;
  position: relative;
  height: 100%;
  width: 100%;
}

.Container__detail-article {
  padding: 40px 70px;
}

.Container__detail.open {
  transform: translate3d(0,0,0);
}

.Container__detail > .CloseButton {
  position: absolute;
  top: 15px;
  right: 15px;
}
